; NB upload script confg!

;Login
username = ""
password = ""

; Where the torrent get created
torrent_file_dir = "/home/user/mktor"
torrent_auto_dir = "/home/user/torrents/upload"

; TMDB API - JSON module is required. to get api-key: http://www.themoviedb.org/account/signup
; if use_tmdb is yes, api_key must be filled
use_tmdb = "no"
api_key = ""


; TVDB API - XML::Simple and Image::Imgur modules is required. to get imgur_key: http://imgur.com/register/api/
; if use_tvdb is yes, imgur_key must be set.
use_tvdb = "no"
imgur_key = ""

; Where to save screenshots. (unused of not specified) only for use with linux.
; Requires mplayer and perlmagick (apt-get install mplayer perlmagick) and the modules Image::Imgur and Image::Thumbnail
make_screens = "no"


; Use buildtorrent(0.8+) instead of Net::BitTorrent::Torrent::Generator (development release of Net::BitTorrent::Torren is needed!!).
; Debian sqeeze use only have 0.7 in repo! (latest version: http://gitorious.org/buildtorrent/)
; buildtorrent is slighly faster than Net::BitTorrent::Torrent::Generator
use_buildtorrent = "yes"

; Site url (https://site.net) - you shold know this ;)
site_url = "https://site.net"

; Log4Perl config
log4perl.category.nb-upload.Log      = DEBUG, Log
log4perl.appender.Log          = Log::Log4perl::Appender::File
log4perl.appender.Log.filename = sub { return $ENV{"HOME"}."/.nb-upload.log"; }
log4perl.appender.Log.mode     = append
log4perl.appender.Log.layout   = Log::Log4perl::Layout::PatternLayout
log4perl.appender.Log.layout.ConversionPattern = %d [%p] %m%n
